html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  list-style: none;
}

/* #root {
  background-color: blue;
} */


body {
  background-color: red;
  font-family: 'Kodchasan', sans-serif;
  font-size: 24px;
	display: flex;
	justify-content: center;
}

.clock {
  /* background-color: grey; */
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.clock ul {
  display: flex;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  border-radius: 30px;
}

.tabs {
	margin: 50px;
	background-color: white;
	border: 1px solid	black;
	border-radius: 10px;
}

.tabs-header ul {
	display: flex;
	justify-content: flex-start;
}

.tabs-header ul li {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid black;
}

.tabs-header ul li {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid black;
}

.tabs-header ul li:hover {
	background-color: #F3E1E1;
}

.tabs-content {
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.weather {
	display: flex;
	justify-content: center;
	background-color: white;
	border-radius: 30px;
}

.weather ul {
	display: flex;
	justify-content: center;
}

.weather ul li {
	padding: 20px;
}

.active {
	font-weight: bold;
	font-size: 26px;
}

.clock ul li {
  padding: 20px;
}
